<h1>Showing selected article</h1>

<p>
  Title: <%= @article.title %>
</p>

<p>
  Description: <%= @article.descriptions %>
</p><br/>

<p>
  <%= link_to "Edit this Article", edit_article_path(@article) %> |
  <%= link_to "Back to Articles", articles_path %>
</p><br/>