<div class="jumbotron image1">
    <div class="center">
      <h1>About Us</h1>
      <!-- <%= link_to "Sign up now!", "#", class: "btn btn-primary btn-lg btn-xlarge" %>-->
    </div>
    <br/>
    <div class="copyright">
      <p1> Copyright © Vortex Cyber Affairs LTD 2018-2019 </p1>
    </div>
</div>
<div>
  <h2> Homepage?</h2>
  <p1> wan't to go to the  <%= link_to 'homepage', root_path  %> </p1>

</div>