<div class="jumbotron">
  <div class="center">
    <h1>Vortex Blogs</h1>
    <%= link_to "Sign up now!", "#", class: "btn btn-primary btn-lg" %>
  </div>
  <br/>
  <div class="copyright">
    <p1> Copyright © Vortex Cyber Affairs LTD 2018-2019 </p1>
  </div>
</div>


<div>
  <h2> What are we about?</h2>
  <p1> what are we <%= link_to 'About', about_path  %> </p1>

</div>

<div>
  <h2> Our Artilces </h2>
  <%= link_to 'Our Articles', articles_path  %>
</div>