<div>
  <h1> Company Blogs </h1>
  <b1> Vortex Cyber Affairs LTD</b1>
</div>

<div>
  <h2> What is this about? </h2>
  <p1> I dont know but i know it's exciting</p1>
</div>


<div>
  <h2> What are we about?</h2>
  <p1> what are we <%= link_to 'About', about_path  %> </p1>

</div>

<div>
  <h2> Our Artilces </h2>
  <%= link_to 'Our Articles', articles_path  %>
</div>