$navbar-default-bg: lightsteelblue;

@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

.center {
  text-align: center;
}

.jumbotron {
  background-image: asset_url('HeaderImage.jpg');
  background-size: cover;
  height: 300px;
}

.jumbotron h1{
  color: #fff;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: -1px;
  font-weight: bold;
  text-decoration: underline;
  border-style: solid;
}

.btn-xlarge {
  background-color: #72AADD;
}

.copyright p1{
  color: #fff;
  text-align: left;
}

.footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

.image1 {
  background-image: asset_url('AboutHeader.jpg');
  background-size: cover;
  height: 300px;
}

.footer a:hover{
  color: #222;
}

.footer small {
  float: left;
}

.footer ul{
  float: right;
  list-style: none;
}

.createTitle {
  background-image: asset_url('CreateHeader.jpg');
  color: #fff;
  letter-spacing: -1px;
  font-weight: bold;
  text-decoration: underline;
  border-style: solid;
  background-size: cover;
}

.createTitle h1{
  background-size: auto;
  background-color: #2E2F30;
}

.editTitle {
  background-image: asset_url('EditImage.jpg');
  color: #fff;
  letter-spacing: -1px;
  font-weight: bold;
  text-decoration: underline;
  border-style: solid;
  background-size: cover;
}

.editTitle h1{
  background-size: auto;
  background-color: #2E2F30;
}

.article-actions {
  border-top: 1px solid #eaeaea;
  padding-top: 5px;
}

.description {
  margin-top: 0;
}

.article-title {
  font-weight: bold;
  font-size: 1.5em;
}

.article-body {
  border-top: 1px solid #eaeaea;
  padding-top: 15px;
  padding-bottom: 15px;
}

.article-meta {
  border-top: 1px solid #eaeaea;
  padding-top: 2px;
  padding-bottom: 2px;
}

.signUpTitle {
  background-image: asset_url('CreateHeader.jpg');
  color: #fff;
  letter-spacing: -1px;
  font-weight: bold;
  text-decoration: underline;
  border-style: solid;
  background-size: cover;
}

.signUpTitle h1{
  background-size: auto;
  background-color: #2E2F30;
}