<div class="container">
  <footer  class="footer">
    <small>
      Copyright &copy 2018-2019 <a href="the website"> Vortex Cyber Affairs</a>
      By <a href="www.instagram.com/sp1d5r/"> Almaz Ahmad</a>
    </small>
    <nav>
      <ul>
        <li><%= link_to "About", about_path %></li>
      </ul>
    </nav>
  </footer>
</div>

